* {
    box-sizing: border-box;
  }

body, input {
  font-family: "Source Sans Pro", Avenir, Helvetica, Arial, sans-serif;
  margin: 0;
}

html {
  overflow: hidden;
}

button, input, a, textarea {
  outline: none;
  appearance: none;
  background-color: initial;
  text-decoration: none;
  border: none;
  resize: none;
  font-family: inherit;
}


$vue-color: #42b89e;
$gradient: linear-gradient(to bottom right,rgb(137, 209, 193), $vue-color, #116e5a);
$box-shadow: 10px 10px 8px rgba(0,0,0,0.5);

button {
  background: $vue-color;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
  padding: 0.7em 1.5em;
  border-radius: 100px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
  transform: rotateZ(0deg);
  &:hover {
    transform: rotateZ(-3deg);
  }
}

*::-webkit-scrollbar {
  width: 0.5vw;
  left: -0.5vw;
  height: 95%;
}
 
*::-webkit-scrollbar-track {
  background: transparent;
}
 
*::-webkit-scrollbar-thumb {
  background: $gradient;
  border-radius: 100px;
}

*::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

@mixin dislodged-border ($color, $border-radius: 0) {
  border-radius: $border-radius;
  position: relative;
  &:before {
    border: 2px solid $color;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 15px;
    left: 15px;
    border-radius: $border-radius;
  }
}

.view {
  overflow: hidden;
}

::selection {
  background: #2c3e50;
  color: white;
}